<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sssssss</title>
</head>
<link rel="stylesheet" href="/css/login.css" type="text/css">
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" type="text/css">
<body>
<div class="login-box" id="app" >
    <el-row>
        <el-col :span="8">
            <el-input id="name"  v-model="name" placeholder="请输入帐号">
                <template slot="prepend">帐号</template>
            </el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-input id="password" v-model="password" type="password" placeholder="请输入密码">
                <template slot="prepend">密码</template>
            </el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-button id="login" v-on:click="check" style="width:100%" type="primary">登录</el-button>
        </el-col>
    </el-row>
</div>
</body>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!-- 引入组件库 -->
<script src="/js/login.js"></script>
<script src="/js/jquery.min.js"></script>
</html>