<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.system.ButtonMapper">
    <resultMap id="BaseResultMap" type="com.mall.dao.dto.system.ButtonDTO">
        <id column="button_id" jdbcType="VARCHAR" property="buttonId" />
        <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
        <result column="button_code" jdbcType="VARCHAR" property="buttonCode" />
        <result column="button_name" jdbcType="VARCHAR" property="buttonName" />
    </resultMap>
    <sql id="Base_Column_List">
        a.button_id, a.menu_id, a.button_code, a.button_name
    </sql>


    <select id="getListAuthority" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM system_button_authority b INNER JOIN system_button a ON  a.button_id = b.button_id
        where 1 = 1
        <if test="dto.menuId != null and dto.menuId != '' ">
            AND a.menu_id = #{dto.menuId}
        </if>
        <if test="dto.userId != null and dto.userId != '' ">
            AND  b.user_id = #{dto.userId}
        </if>

    </select>

    <delete id="deleteByMenuIdAndUserId">
      DELETE FROM system_button_authority  where menu_id = #{dto.menuId} AND user_id = #{dto.userId}
    </delete>

</mapper>