<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.order.OrderMapper">
    <resultMap id="BaseResultMap" type="com.mall.dao.dto.order.OrderDTO">
        <id column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice" />
        <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
        <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
        <result column="score_price" jdbcType="DECIMAL" property="scorePrice" />
        <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
        <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
        <result column="pay_type" jdbcType="CHAR" property="payType" />
        <result column="source_type" jdbcType="CHAR" property="sourceType" />
        <result column="order_status" jdbcType="CHAR" property="orderStatus" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
        <result column="is_confirm" jdbcType="CHAR" property="isConfirm" />
        <result column="is_delete" jdbcType="CHAR" property="isDelete" />
        <result column="use_score" jdbcType="INTEGER" property="useScore" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="growth" property="growth" />
        <result column="login_Code" jdbcType="VARCHAR" property="loginCode" />
        <collection property="orderItems" ofType="com.mall.dao.dto.order.OrderItemsDTO">
            <result column="productId"  property="productId" />
            <result column="productName"  property="productName" />
            <result column="productAmount"  property="productAmount" />
            <result column="productPrice" property="productPrice" />
            <result column="productProperty" property="productProperty" />
            <result column="promotionName" property="promotionName" />
            <result column="promotionPrice"  property="promotionPrice" />
            <result column="realPrice"  property="realPrice" />
            <result column="picUrl" jdbcType="INTEGER" property="picUrl" />
            <result column="typeId" jdbcType="INTEGER" property="typeId" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        a.order_id,  a.user_id, a.total_price, a.pay_price, a.freight_price, a.promotion_price,
        a.score_price, a.coupon_price, a.discount_price, a.pay_type, a.source_type, a.order_status,
        a.delivery_company, a.delivery_code, a.auto_confirm_day, a.receiver_name, a.receiver_phone,
        a.receiver_post_code, a.receiver_province, a.receiver_city, a.receiver_region, a.receiver_detail_address,
        a.order_remark, a.is_confirm, a.is_delete, a.use_Score, a.create_time, a.payment_time,
        a.delivery_time, a.receive_time, a.modify_time,  a.score,  a.growth
     </sql>

    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" /> ,b.login_code
        FROM mall_order a
        inner JOIN system_admin b on a.user_id = b.user_id
        WHERE  1 = 1
        AND  a.is_delete = '0'
        <if test="dto.createTimeQuery!=null">
            AND a.create_time LIKE concat(#{dto.createTimeQuery},"%")
        </if>
        <if test="dto.orderId!=null and dto.orderId!=''">
            AND a.order_Id = #{dto.orderId}
        </if>
        <if test="dto.receiverName!=null and dto.receiverName!=''">
            AND a.receiver_Name like '%${dto.receiverName}%'
        </if>
        <if test="dto.orderStatus!=null and dto.orderStatus!=''">
            AND a.order_status = #{dto.orderStatus}
        </if>
        <if test="dto.payType!=null and dto.payType!=''">
            AND a.pay_type = #{dto.payType}
        </if>
        <if test="dto.sourceType!=null and dto.sourceType!=''">
            AND a.source_type = #{dto.sourceType}
        </if>
    </select>

    <select id="findOrderAndItems" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        , b.product_name productName, b.product_amount productAmount, b.product_price productPrice, b.product_property productProperty, b.promotion_name promotionName,
        b.promotion_price promotionPrice, b.real_price realPrice ,c.login_code, b.pic_url picUrl, e.type_id typeId, b.product_id productId
        FROM mall_order a
        inner JOIN mall_order_items b on a.order_id = b.order_id
        inner JOIN system_admin c  on a.user_id = c.user_id
        inner JOIN mall_product e  on b.product_id = e.product_id
        WHERE  1 = 1
        AND  a.is_delete = '0'
        AND a.order_id = #{id}
    </select>
</mapper>