<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.malladmin.mapper.orders.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.mall.malladmin.dto.orders.OrdersDto">
        <id column="orders_id" jdbcType="VARCHAR" property="ordersId" />
        <result column="orders_code" jdbcType="VARCHAR" property="ordersCode" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice" />
        <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
        <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
        <result column="score_price" jdbcType="DECIMAL" property="scorePrice" />
        <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
        <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
        <result column="pay_type" jdbcType="CHAR" property="payType" />
        <result column="source_type" jdbcType="CHAR" property="sourceType" />
        <result column="orders_status" jdbcType="CHAR" property="ordersStatus" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="orders_remark" jdbcType="VARCHAR" property="ordersRemark" />
        <result column="is_confirm" jdbcType="CHAR" property="isConfirm" />
        <result column="is_delete" jdbcType="CHAR" property="isDelete" />
        <result column="use_score" jdbcType="INTEGER" property="useScore" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="growth" property="growth" />
        <result column="login_Code" jdbcType="VARCHAR" property="loginCode" />
        <collection property="ordersItems" ofType="com.mall.malladmin.dto.orders.OrdersItemsDto">
            <result column="productId"  property="productId" />
            <result column="productName"  property="productName" />
            <result column="productAmount"  property="productAmount" />
            <result column="productPrice" property="productPrice" />
            <result column="productProperty" property="productProperty" />
            <result column="promotionName" property="promotionName" />
            <result column="promotionPrice"  property="promotionPrice" />
            <result column="realPrice"  property="realPrice" />
            <result column="picUrl" jdbcType="INTEGER" property="picUrl" />
            <result column="typeId" jdbcType="INTEGER" property="typeId" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        a.orders_id, orders_code, a.user_id, a.total_price, a.pay_price, a.freight_price, a.promotion_price,
        a.score_price, a.coupon_price, a.discount_price, a.pay_type, a.source_type, a.orders_status,
        a.delivery_company, a.delivery_code, a.auto_confirm_day, a.receiver_name, a.receiver_phone,
        a.receiver_post_code, a.receiver_province, a.receiver_city, a.receiver_region, a.receiver_detail_address,
        a.orders_remark, a.is_confirm, a.is_delete, a.use_Score, a.create_time, a.payment_time,
        a.delivery_time, a.receive_time, a.modify_time,  a.score,  a.growth
     </sql>

    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" /> ,b.login_code
        FROM mall_orders a
        inner JOIN system_admin b on a.user_id = b.user_id
        WHERE  1 = 1
        <if test="dto.createTime!=null and dto.createTime!=''">
            AND a.create_time LIKE concat(#{dto.createTime},"%")
        </if>
        <if test="dto.ordersCode!=null and dto.ordersCode!=''">
            AND a.orders_Code = #{dto.ordersCode}
        </if>
        <if test="dto.receiverName!=null and dto.receiverName!=''">
            AND a.receiver_Name = #{dto.receiverName}
        </if>
        <if test="dto.ordersStatus!=null and dto.ordersStatus!=''">
            AND a.orders_status = #{dto.ordersStatus}
        </if>
        <if test="dto.payType!=null and dto.payType!=''">
            AND a.pay_type = #{dto.payType}
        </if>
        <if test="dto.sourceType!=null and dto.sourceType!=''">
            AND a.source_type = #{dto.sourceType}
        </if>
    </select>

    <select id="findOrdersAndItems" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        , b.product_name productName, b.product_amount productAmount, b.product_price productPrice, b.product_property productProperty, b.promotion_name promotionName,
        b.promotion_price promotionPrice, b.real_price realPrice ,c.login_code, d.pic_url picUrl, e.type_id typeId, b.product_id productId
        FROM mall_orders a
        inner JOIN mall_orders_items b on a.orders_id = b.orders_id
        inner JOIN system_admin c  on a.user_id = c.user_id
        inner JOIN mall_product_sku d  on d.sku_id = b.product_sku_id
        inner JOIN mall_product e  on b.product_id = e.product_id
        WHERE  1 = 1
        and a.orders_id = #{id}
    </select>
</mapper>