<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.system.AdminMapper">

    <sql id="Base_Column_List">
        id, login_Code, password, name, phone, pic_url, role, is_usabled, create_time,
        modify_time
    </sql>

    <select id="findByLoginId" resultType="com.mall.dao.dto.system.AdminDTO" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_admin m WHERE m.login_Code = #{loginCode}
    </select>

    <select id="getButtonCodeAuthority" resultType="java.lang.String">
        SELECT
        CONCAT(
        c.menu_code,
        ':',
        e.button_code
        ) buttonCodeList
        FROM
        system_admin a
        INNER JOIN system_menu_authority b ON a.id = b.user_id
        INNER JOIN system_menu c ON b.menu_id = c.id
        INNER JOIN system_button_authority d ON d.user_id = a.id AND d.menu_id = c.id
        INNER JOIN system_button e ON d.button_id = e.button_id
        WHERE
        c.parent_id != '0'
        <if test="dto.userId != null">
            AND a.id = #{dto.userId}
        </if>
        <if test="dto.userId == null">
            AND 1=2
        </if>
    </select>

    <select id="getMenuCodeListAuthority" resultType="java.lang.String">
        SELECT
        c.menu_code
        FROM
        system_admin a
        INNER JOIN system_menu_authority b ON a.id = b.user_id
        INNER JOIN system_menu c ON b.menu_id = c.id
        WHERE
        c.parent_id != '0'
        <if test="dto.userId != null">
            AND a.id = #{dto.userId}
        </if>
        <if test="dto.userId == null">
            AND 1=2
        </if>
    </select>
</mapper>