<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mallmbg.mapper.MallOrdersOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.mall.mallmbg.model.MallOrdersOperationLog">
    <id column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="orders_id" jdbcType="VARCHAR" property="ordersId" />
    <result column="operation_person" jdbcType="VARCHAR" property="operationPerson" />
    <result column="orders_status" jdbcType="CHAR" property="ordersStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    operation_id, orders_id, operation_person, orders_status, remark, create_time
  </sql>
  <select id="selectByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample">
    delete from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log (operation_id, orders_id, operation_person, 
      orders_status, remark, create_time
      )
    values (#{operationId,jdbcType=VARCHAR}, #{ordersId,jdbcType=VARCHAR}, #{operationPerson,jdbcType=VARCHAR}, 
      #{ordersStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="ordersId != null">
        orders_id,
      </if>
      <if test="operationPerson != null">
        operation_person,
      </if>
      <if test="ordersStatus != null">
        orders_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="ordersId != null">
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultType="java.lang.Integer">
    select count(*) from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_orders_operation_log
    <set>
      <if test="record.operationId != null">
        operation_id = #{record.operationId,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersId != null">
        orders_id = #{record.ordersId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationPerson != null">
        operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersStatus != null">
        orders_status = #{record.ordersStatus,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_orders_operation_log
    set operation_id = #{record.operationId,jdbcType=VARCHAR},
      orders_id = #{record.ordersId,jdbcType=VARCHAR},
      operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      orders_status = #{record.ordersStatus,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    <set>
      <if test="ordersId != null">
        orders_id = #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        operation_person = #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        orders_status = #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    set orders_id = #{ordersId,jdbcType=VARCHAR},
      operation_person = #{operationPerson,jdbcType=VARCHAR},
      orders_status = #{ordersStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.mall.mallmbg.model.MallOrdersOperationLog">
    <id column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="orders_id" jdbcType="VARCHAR" property="ordersId" />
    <result column="operation_person" jdbcType="VARCHAR" property="operationPerson" />
    <result column="orders_status" jdbcType="CHAR" property="ordersStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    operation_id, orders_id, operation_person, orders_status, remark, create_time
  </sql>
  <select id="selectByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample">
    delete from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log (operation_id, orders_id, operation_person, 
      orders_status, remark, create_time
      )
    values (#{operationId,jdbcType=VARCHAR}, #{ordersId,jdbcType=VARCHAR}, #{operationPerson,jdbcType=VARCHAR}, 
      #{ordersStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="ordersId != null">
        orders_id,
      </if>
      <if test="operationPerson != null">
        operation_person,
      </if>
      <if test="ordersStatus != null">
        orders_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="ordersId != null">
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultType="java.lang.Integer">
    select count(*) from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_orders_operation_log
    <set>
      <if test="record.operationId != null">
        operation_id = #{record.operationId,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersId != null">
        orders_id = #{record.ordersId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationPerson != null">
        operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersStatus != null">
        orders_status = #{record.ordersStatus,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_orders_operation_log
    set operation_id = #{record.operationId,jdbcType=VARCHAR},
      orders_id = #{record.ordersId,jdbcType=VARCHAR},
      operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      orders_status = #{record.ordersStatus,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    <set>
      <if test="ordersId != null">
        orders_id = #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        operation_person = #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        orders_status = #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    set orders_id = #{ordersId,jdbcType=VARCHAR},
      operation_person = #{operationPerson,jdbcType=VARCHAR},
      orders_status = #{ordersStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.mall.mallmbg.model.MallOrdersOperationLog">
    <id column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="orders_id" jdbcType="VARCHAR" property="ordersId" />
    <result column="operation_person" jdbcType="VARCHAR" property="operationPerson" />
    <result column="orders_status" jdbcType="CHAR" property="ordersStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    operation_id, orders_id, operation_person, orders_status, remark, create_time
  </sql>
  <select id="selectByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_orders_operation_log
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample">
    delete from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log (operation_id, orders_id, operation_person, 
      orders_status, remark, create_time
      )
    values (#{operationId,jdbcType=VARCHAR}, #{ordersId,jdbcType=VARCHAR}, #{operationPerson,jdbcType=VARCHAR}, 
      #{ordersStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    insert into mall_orders_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="ordersId != null">
        orders_id,
      </if>
      <if test="operationPerson != null">
        operation_person,
      </if>
      <if test="ordersStatus != null">
        orders_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="ordersId != null">
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mallmbg.model.MallOrdersOperationLogExample" resultType="java.lang.Integer">
    select count(*) from mall_orders_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_orders_operation_log
    <set>
      <if test="record.operationId != null">
        operation_id = #{record.operationId,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersId != null">
        orders_id = #{record.ordersId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationPerson != null">
        operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.ordersStatus != null">
        orders_status = #{record.ordersStatus,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_orders_operation_log
    set operation_id = #{record.operationId,jdbcType=VARCHAR},
      orders_id = #{record.ordersId,jdbcType=VARCHAR},
      operation_person = #{record.operationPerson,jdbcType=VARCHAR},
      orders_status = #{record.ordersStatus,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    <set>
      <if test="ordersId != null">
        orders_id = #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null">
        operation_person = #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        orders_status = #{ordersStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mallmbg.model.MallOrdersOperationLog">
    update mall_orders_operation_log
    set orders_id = #{ordersId,jdbcType=VARCHAR},
      operation_person = #{operationPerson,jdbcType=VARCHAR},
      orders_status = #{ordersStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
</mapper>