<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mallmbg.mapper.SystemButtonMapper">
  <resultMap id="BaseResultMap" type="com.mall.mallmbg.model.SystemButton">
    <id column="button_id" jdbcType="VARCHAR" property="buttonId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="button_code" jdbcType="VARCHAR" property="buttonCode" />
    <result column="button_name" jdbcType="VARCHAR" property="buttonName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    button_id, menu_id, button_code, button_name
  </sql>
  <select id="selectByExample" parameterType="com.mall.mallmbg.model.SystemButtonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_button
    where button_id = #{buttonId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from system_button
    where button_id = #{buttonId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mallmbg.model.SystemButtonExample">
    delete from system_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mallmbg.model.SystemButton">
    insert into system_button (button_id, menu_id, button_code, 
      button_name)
    values (#{buttonId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{buttonCode,jdbcType=VARCHAR}, 
      #{buttonName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mallmbg.model.SystemButton">
    insert into system_button
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buttonId != null">
        button_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="buttonCode != null">
        button_code,
      </if>
      <if test="buttonName != null">
        button_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buttonId != null">
        #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="buttonCode != null">
        #{buttonCode,jdbcType=VARCHAR},
      </if>
      <if test="buttonName != null">
        #{buttonName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mallmbg.model.SystemButtonExample" resultType="java.lang.Integer">
    select count(*) from system_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update system_button
    <set>
      <if test="record.buttonId != null">
        button_id = #{record.buttonId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonCode != null">
        button_code = #{record.buttonCode,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonName != null">
        button_name = #{record.buttonName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update system_button
    set button_id = #{record.buttonId,jdbcType=VARCHAR},
      menu_id = #{record.menuId,jdbcType=VARCHAR},
      button_code = #{record.buttonCode,jdbcType=VARCHAR},
      button_name = #{record.buttonName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mallmbg.model.SystemButton">
    update system_button
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="buttonCode != null">
        button_code = #{buttonCode,jdbcType=VARCHAR},
      </if>
      <if test="buttonName != null">
        button_name = #{buttonName,jdbcType=VARCHAR},
      </if>
    </set>
    where button_id = #{buttonId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mallmbg.model.SystemButton">
    update system_button
    set menu_id = #{menuId,jdbcType=VARCHAR},
      button_code = #{buttonCode,jdbcType=VARCHAR},
      button_name = #{buttonName,jdbcType=VARCHAR}
    where button_id = #{buttonId,jdbcType=VARCHAR}
  </update>
</mapper>